{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Editing</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/admin_editing.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome, Admin</h1>
        <div class="button-container">
            <button id="addNewUserButton">Add New citizen</button>
            <button id="editExistingUserButton">Edit Existing User</button>
            <button id="addEditCandidateButton">Add/Edit Candidate</button>
        </div>
    </div>
    <script >

        document.getElementById('addNewUserButton').addEventListener('click', function() {
            window.location.href = "{% url 'add_new_citizen' %}";
        });
        
        document.getElementById('editExistingUserButton').addEventListener('click', function() {
            window.location.href = "{% url 'edit_existing_citizen' %}";
        });
        
        document.getElementById('addEditCandidateButton').addEventListener('click', function() {
            window.location.href = "{% url 'add_edit_candidate' %}";
        });

    </script>
</body>
</html>


