<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Editing</title>
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/admin_editing.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome, Admin</h1>
        <div class="button-container">
            <button id="addNewUserButton">Add New citizen</button>
            <button id="editExistingUserButton">Edit Existing User</button>
            <button id="addEditCandidateButton">Add/Edit Candidate</button>
        </div>
    </div>
    <script src="{% static 'js/admin_editing.js' %}"></script>
</body>
</html>
