<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}  <!-- Add this line to load the static tag library -->
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
</head>
<body>
    <div class="container">
        <h1>Home Page</h1>
        <div class="button-container">
            <a href="{% url 'admin_panel' %}" class="button">Admin Panel</a>
            <a href="{% url 'vote_status' %}" class="button">Vote Status</a>
            <a href="{% url 'vote' %}" class="button">Vote</a>
            <a href="{% url 'result' %}" class="button">Result</a>
        </div>
    </div>
    <script src="{% static 'js/home_page.js' %}"></script>
</body>
</html>
