
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111111;
    margin: 0;
    padding: 0;
}

.login-container {
    background-color:#030303;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #fa8303;
    outline: none;
}

button {
    background-color: #fa8303;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .login-container {
        width: 100%;
        padding: 15px;
    }

    button {
        padding: 8px;
    }
}
.home-button {
    display: inline-block;
    margin-top: 20px; /* Adjust spacing as needed */
    padding: 10px 20px; /* Button padding */
    background-color: #fa8303; /* Button background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Transition for hover effect */
    margin-top: 20px; /* Space between login button and home button */
}

.home-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
