body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #00796b;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.content {
    padding: 20px;
    text-align: center;
}

.content p {
    font-size: 18px;
    margin: 10px 0;
}
